{% load inlinecss %}
{% inlinecss "css/style.css" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>

<body>
    <div class="wrapper">
        <table class="main">

            <!-- BLUE BORDER -->
            <tr>
                <!-- <td height="8" style="background-color: aquamarine;"></td> -->
            </tr>

            <!-- LOGO SECTION -->
            <tr>
                <td>
                    <table></table>
                </td>
            </tr>


            <!-- TITLE, TEXT & BUTTON -->
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <h2 class="title"> Lorem Ipsum</h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a
                                    page when looking at its layout. The point of using Lorem Ipsum is that 
                                   it has a more-or-less normal distribution.</p>
                                <a href="https://coinmarketcap.com/" class="button">Alguna Acción</a>
                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>

            
            <!-- TWO COLUMN SECTION -->
            <tr>
                <td>
                    <table width="100%">

                        
                    </table>
                </td>
            </tr>
           

            <!-- FOOTER SECTION -->
            <tr>
                <td>
                    <table width="100%">
                        <tr>
                            <td>
                                <p class="centrado">Insight Email Marketing</p>
                                <p class="centrado">Yopal - Casanare</p>
                                <a href="https://www.facebook.com/"><img src=<img src="https://img.icons8.com/color/144/000000/facebook-new.png" alt="" width="50"></a>
                                <a href="https://www.instagram.com/"><img src=<img src="https://img.icons8.com/fluency/144/000000/instagram-new.png" alt="" width="50"></a>
                                <a href="https://wa.me/573008841693/"><img src="https://img.icons8.com/office/144/000000/whatsapp--v1.png" alt="" width="50" height="45"></a>
                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
</body>
</html>
{% endinlinecss %}